<div class="wrapper">

  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li *ngIf="!ulogovanKorisnik" class="nav-item active">
          <a class="nav-link" routerLink="/login"><span style="color: white; font-weight: bold;">Login</span></a>
        </li>
        <li *ngIf="!ulogovanKorisnik" class="nav-item">
          <a class="nav-link" routerLink="/registracija"><span style="color: white; font-weight: bold;">Registracija</span></a>
        </li>
        <li *ngIf="ulogovanKorisnik && nazad == 1" class="nav-item">
          <a class="nav-link" routerLink="/poljoprivrednik"><span style="color: white; font-weight: bold;">Nazad</span></a>
        </li>
        <li *ngIf="ulogovanKorisnik && nazad == 2 && tip == 'poljoprivrednik'" class="nav-item">
          <a class="nav-link" routerLink="/prodavnica"><span style="color: white; font-weight: bold;">Nazad</span></a>
        </li>
        <li *ngIf="ulogovanKorisnik && nazad == 2 && tip == 'preduzece'" class="nav-item">
          <a class="nav-link" routerLink="/preduzece"><span style="color: white; font-weight: bold;">Nazad</span></a>
        </li>
        <li *ngIf="ulogovanKorisnik && nazad == 3" class="nav-item">
          <a class="nav-link" routerLink="/preduzece"><span style="color: white; font-weight: bold;">Nazad</span></a>
        </li>
        <li *ngIf="ulogovanKorisnik" class="nav-item">
          <a class="nav-link" routerLink="/login"><span style="color: white; font-weight: bold;">Odjava</span></a>
        </li>
        <li *ngIf="ulogovanKorisnik" class="nav-item">
          <a class="nav-link" routerLink="/promenaLozinke"><span style="color: white; font-weight: bold;">Promena lozinke</span></a>
        </li>
      </ul>
    </div>
  </nav>

</div>
